$main: #0a62b9;
$background: #e6e6e6;
$accent: #cfff83;
$secondary: hsl(0, 0%, 20%);
$dark: hsl(0, 0%, 14%);
$text: hsl(0, 0%, 20%);

$padPc: 10vw;
$padTablet: 100px;
$padMobileW: 50px;
$padMobile: 30px;
