@use 'constants' as *;

.ul--no-disk {
    list-style-type: none;
}

.img--block {
    display: block;
}

.text {
    &--accent {
        color: $accent;
    }
    &--underline {
        text-decoration: underline;
    }

    &--paragraph {
        max-width: 45ch;
    }
}

.a--alternative {
    color: lighten($main, 20%);
    &:hover {
        color: $background;
    }
}

.table {
    border-collapse: collapse;
    margin-bottom: 3.5em;

    caption {
        font-size: 0.8em;
        padding: 5px;
        text-align: left;
    }

    td,
    th {
        padding: 5px;
    }

    tbody tr:nth-child(2n) {
        background-color: darken($background, 10%);
    }

    &--full {
        width: 100%;
    }
}
