<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The magic of sound!</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="page">
        <!-- HEADER -->

        <header class="page__header">
            <div class="page__header__wrap">
                <a href="/">
                    <img
                        src="/img/logo.svg"
                        class="img--block page__logo"
                        alt="WaveSet"
                        width="125"
                    />
                </a>
                <nav class="page__nav">
                    <ul class="page__nav__list">
                        <li><a href="/" class="page__nav__link"> Home </a></li>
                        <li>
                            <a href="sound" class="page__nav__link"> Sound </a>
                        </li>
                        <li>
                            <a href="music" class="page__nav__link"> Music </a>
                        </li>
                    </ul>
                </nav>
                <nav class="page__nav--mobile">
                    <button id="hamburger">
                        <img
                            class="img--block"
                            src="/img/hamburger_arrow.svg"
                            alt="Arrow"
                            width="30"
                        />
                    </button>
                    <ul class="page__nav__list">
                        <li><a href="/" class="page__nav__link"> Home </a></li>
                        <li>
                            <a href="sound" class="page__nav__link"> Sound </a>
                        </li>
                        <li>
                            <a href="music" class="page__nav__link"> Music </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- MAIN CONTENT -->

        <main class="page__main">
            <!-- HERO -->

            <section class="page__hero">
                <h1 class="h1--main">Intro</h1>
                <p>
                    Following is
                    <a href="/" class="a--alternative">music</a>.
                </p>
            </section>

            <!-- PAGE CONTENT -->
        </main>

        <!-- FOOTER -->
        <footer class="page__footer">
            <div>
                <p>Created by Michal Janeček</p>
            </div>
        </footer>
        <script>
            const mobileNav = document.querySelector(
                '.page__nav--mobile .page__nav__list'
            );
            const hamburger = document.getElementById('hamburger');
            hamburger.addEventListener('click', () => {
                mobileNav.classList.toggle('active');
                hamburger.classList.toggle('active');
            });
        </script>
    </body>
</html>
